.main {
    background-color: #ADD8E6;
}
.logo{
    color:blue;
    font-size:50px;
}
.end{
    color:#799497;
    padding-top:20px;
}
.footer{
    background-color: #191919;
}
 h2{
              color:#019ebd;
              font-family: Myriad Pro Regular;
          }
          h3{
              color:#f47820;
              font-family: Myriad Pro Regular;
          }
          about-us{
              background-color: black;
          }
.view{
    text-align: center;
    color:#b20801;
}
video {
    width: 100%;
    height:auto;
          }
          .foot{
              background-color:#333232 ;
          }
              .about-us {
    padding-top: 10px;
    padding-left: 18px;
   
     background-color:#111111;
}
          p{
              color:#8a8a8a;
          }
       



         
         