.main {
    background-color: #DFF2AE;
}
.logo{
    background-color: #4c4c4c;
}

.navigation{
    background-color:#B3B3B3 ;
}
ul{
    font-size: 20px;
}
.ending{
    background-color:#616161 ;
}
p{
 color:#FFF;
    font-size:20px;
    font-family: Myriad Pro Regular;
}
.line{
    width:80%;
}
.foot{
    color:#FFF;
    font-size: 16px;
}
video {
    width: 100%;
    height:auto;
          }
          .jumbotron{
              background-color:#DCE2A7;
          }