.main{
    background-color:#ADD8E6;
}
.container{
    background-color:#ADD8E6;
    background-image: url('images.jpg');
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}

p{
    text-align: center;
    font-size: 12px;
    color:#b20000;
}
footer{
    background-color:#ededed;
    text-align: center;
    width:100%;
}